html {
	overflow: scroll;
}


div[contenteditable] {
	margin: 1px;
	padding: 0;
	border: 1px transparent;
}
div[contenteditable]:hover {
	border: dashed 1px #ccc;
}
div[contenteditable]:focus {
	border: solid 1px #00c;
}


/* Table of Contents */
.toc ul {
	margin: 0;
	padding: 0;
}
.toc li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.toc-section {
	font-weight: 600;
	font-size: 1.2em;
}
.toc-feature {
	font-size: 1em;
}


/* Sections and Features */
section {
	padding-top: 2em;
}
.section-title {
	font-size: 3em;
}
.features {

}
.feature {
	padding-top: 1em;
	padding-left: 1em;
}
.feature.level_0 .title {
	font-size: 2em;
	font-weight: 600;
}
.feature.level_1 .title {
	font-size: 1.8em;
	font-style: italic;
}
.feature.level_2 .title {
	font-size: 1.5em;
	font-weight: 500;
}
.feature.level_3 .title {
	font-size: 1.3em;
	font-weight: 400;
}
.feature .content {
	
}
.sub-features {

}
