<div class="row">
	<div class="dropdown pull-left">
		<a class="btn dropdown-toggle" data-toggle="dropdown"><icon type="chevron-right" /></a>
		<ul class="dropdown-menu">
			<li><a ng-click="insertFeature(feature.features)"><icon type="plus" /> New Child Feature</a></li>

			<li class="divider"></li>
			<li ng-repeat="ft in flagTypes"><a ng-click="insertFlag(feature.flags, ft.type)"><icon type="flag" /> New {{ft.name}}</a></li>

			<li class="divider"></li>
			<li ng-repeat="tag in availableTags">
				<a ng-click="addTag(feature, tag)" ng-hide="featureHasTag(feature, tag)"><icon type="tag" /> Mark <strong>{{tag}}</strong></a>
				<a ng-click="removeTag(feature, tag)" ng-show="featureHasTag(feature, tag)"><icon type="tag" /> Unmark <strong>{{tag}}</strong></a>
			</li>

			<li class="divider"></li>
			<li><a exec="strikeThrough" exec-target="#{{feature.guid}}"><icon type="remove" /> Strike Feature</a></li>
			<li modal modal-click="deleteFeature(section, feature)" modal-title="Delete '{{feature.title}}'?" modal-body="Are you sure you want to delete '{{feature.title}}'?"><icon type="trash" /> Delete Feature</li>
		</ul>
	</div>
	<div class="feature-title counted-item" contenteditable ng-model="feature.title" id="{{feature.guid}}"></div>
	<div class="feature-tags">
		<ul>
			<li ng-repeat="tag in feature.tags">
				<button ng-click="removeTag(feature, tag)" type="button" class="close">&times;</button>
				<div class="feature-tag {{tag | abbr}}">{{tag}}</div>
			</li>
		</ul>
	</div>
	<div class="feature-content" contenteditable ng-model="feature.content"></div>
	<div class="flags" ng-include="'partials/flags.html'" ng-init="flags = feature.flags" />
</div>
<div class="feature level_{{$level}} counted" ng-repeat="feature in feature.features" ng-include="'partials/feature.html'" ng-init="$level = $level + 1;"></div>
