<div ng-controller="RdCtrl">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand">Clockdocs</span>
			</div> <!-- /.navbar-header -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a ng-click="create()"><icon type="plus-sign" /> Create</a></li>
					<li><a ng-click="open()"><icon type="open" /> Open</a></li>
					<li ng-show="rd"><a ng-click="save()"><icon type="save" /> Save</a></li>
				</ul>
			</div> <!-- /.navbar-collapse -->
		</div> <!-- /.container-fluid -->
	</nav>
	<div class="row doc-container" ng-show="rd">
		<div class="col-md-3 doc-toc">
			<div class="nav-fixed">
				<h2>Table of Contents</h2>
				<ul class="nav toc sortable" sort-on-update="sortItems(rd.sections, guids)">
					<li ng-repeat="section in rd.sections" data-guid="{{section.guid}}">
						<a class="toc-section" scroller="section.guid"><icon type="move" class="draggable" /> {{section.title}}</a>
						<ul class="nav nav-stacked sortable" sort-on-update="sortItems(section.features, guids)">
							<li ng-repeat="feature in section.features" ng-include="'partials/toc.html'" data-guid="{{feature.guid}}" ng-init="$label = ($index + 1) + '.'"></li>
						</ul>
					</li>
				</ul>
			</div> <!-- /.fixed-nav -->
		</div> <!-- /.doc-toc -->
		<div class="col-md-8 doc-content">
			<h1 ng-model="rd.title" contenteditable></h1>
			<div class="well slideout animated">
				<a ng-click="insertSection(0)"><icon type="th-large" /> New Section</a>
			</div>
			<section ng-repeat="section in rd.sections">
				<div class="dropdown pull-left">
					<a class="btn dropdown-toggle" data-toggle="dropdown"><icon type="chevron-right" /></a>
					<ul class="dropdown-menu">
						<li><a ng-click="insertFeature(section.features)"><icon type="plus" /> New Feature</a></li>
						<li class="divider"></li>
						<li ng-repeat="ft in flagTypes"><a ng-click="insertFlag(section.flags, ft.type)"><icon type="flag" /> New {{ft.name}}</a></li>
						<li class="divider"></li>
						<li><a ng-click="insertSection($index + 1)"><icon type="th-large" /> New Section</a></li>
						<li class="divider"></li>
						<li modal modal-click="deleteSection($index)" modal-title="Delete '{{section.title}}'?" modal-body="Are you sure you want to delete '{{section.title}}'?"><icon type="trash" /> Delete Section</li>
					</ul>
				</div>
				<div class="section-title" contenteditable id="{{section.guid}}" ng-model="section.title"></div>
				<div class="section-content" contenteditable ng-model="section.content"></div>
				<div class="flags" ng-include="'partials/flags.html'" ng-init="flags = section.flags" />
				<div class="features">
					<div class="row feature level_0" ng-repeat="feature in section.features" ng-include="'partials/feature.html'" ng-init="$level = 0; $label = ($index + 1) + '.'"></div>
				</div>
				<hr />
			</section>
		</div> <!-- /.doc-content -->
		<div class="col-md-1 doc-gutter"></div>
	</div>
</div>
