/* =============================================================================
   Base
   ========================================================================== */
html {
	overflow-y: auto;
}

body {
	margin: 0;
	font-family: "ProximaNovaCondRegular",Helvetica,Arial,sans-serif;
	position: relative;
	font-size: 16px;
	line-height: 1.3em;
	color: #525252;
	background: #fff;
	padding-bottom: 400px;
}

.container {
	width: 1200px !important;
	margin: 0;
}

.box-emp {
  background: rgb(248, 248, 248);
  min-height: 100px;
  padding: 15px 0;
  margin: 0 0 15px 0;
  box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.32);
}

.doc-content {
	margin-top: 20px;
	background: rgb(255, 255, 255);
}

.controller {
	margin: 0;
	padding: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */

h1, h2, h3, h4, h5, h6, .navbar-brand {
	font-family: 'BrandonGrotesqueBlack', Helvetica, sans-serif;
	text-transform: uppercase;
	font-variant: small-caps;
	color: #1E1E1E;
	font-weight: normal;
}
dd {
	margin-left: 1em;
}

.navbar-default .navbar-brand {
	color: #D6D6D6;
}

.header-inverse h1, 
.header-inverse h2, 
.header-inverse h3, 
.header-inverse h4, 
.header-inverse h5 {
	color:#FC0;
}

.header-alt h1, 
.header-alt h2, 
.header-alt h3, 
.header-alt h4, 
.header-alt h5 {
	color:#FC0;
}

.doc-header h1, .doc-header h1 input {
	font-size: 16px;
	margin-left: 105px;
}

.doc-header h1 input {
	border: 0;
	width: 90%;
	position: relative;
	margin-left: 10px;
}

h1, h1 input {
    font-size: 3.5em; /* 40px */
    line-height: 1.1em;
}

h2 {
    font-size: 2.75em; /* 30px */
    line-height: 1em;
    margin: .65em 0 .4em 0;
}

.box-emp h2 {
	font-size: 20px;
	color: #707070;
	padding: 0 0 0 20px;
}

h4 {
    font-size: 1.25em; /* 26px */
    line-height: 1em;
    margin: 1.5em 0 .75em 0;
}

h3 {
    font-size: 1.65em; /* 26px */
    line-height: 1em;
    margin: 1.2em 0 .6em 0;
}

.animated {
	-webkit-transition: all 0.2s ease-in;
}

/* =============================================================================
   Editors
   ========================================================================== */
input[type=text] {
	background: transparent;
}

.copyable {
	cursor: hand;
}

[contenteditable=true], .ta-editor, cw-rte {
	margin: 1px;
	padding-left: 0;
	padding-right: 0;
}

[contenteditable=true]:hover:not([disabled]), .ta-root:not(.disabled) .ta-editor:hover, cw-rte:hover:not([disabled]) {
	box-shadow: 0 0 10px #9ecaed;
	cursor: text;
}

[contenteditable=true]:focus:not([disabled]), .ta-root:not(.disabled) .ta-editor:focus, cw-rte:focus:not([disabled]) {
	border: solid 1px #00c;
}

.ta-scroll-window .ta-bind {
	min-height: 2em;
}
.ta-root .ta-editor {
	min-height: 2em;
	width: 100%;
	height: auto;
	overflow: auto;
}
.ta-root.disabled {
	display: none;
}
.ta-toolbar button {
	height: 30px;
}

.doc-container {
	margin-top: 110px; /* Make room for the nav */
}
.working .doc-container, .working header {
	-webkit-filter: blur(5px);
}
.cw-counted {
	counter-reset: item;
}
.cw-counted-item:before {
	content: counters(item, '.'); 
	counter-increment: item;
	color: rgb(201, 197, 197);

	margin-right: .5em;
	font-size: 0.8em;
}


/* =============================================================================
   TOC
   ========================================================================== */
.doc-toc {
	margin-left: 0.5em;
}
.doc-toc .box-emp {
	position: fixed;
	height: 100%;
	overflow: scroll;
	padding-bottom: 20%;
}
@media (max-width: 991px) {
	.doc-toc .box-emp {
		position: inherit;
	}
}
.doc-toc .nav > li > a {
	padding: 5px 30px 5px 20px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}
.toc ul {
	margin: 0;
	padding: 0;
}
.toc li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.toc li.cw-sorted-feature {
	padding-left: 0.5em;
}
.cw-sortable-placeholder {
	border: 1px dotted red;
	padding: 10px 20px 5px 20px;
	background: #d0d0d0;
	padding-left: 1.5em;
}
ul.cw-sortable .cw-sorted-empty {
	height: 0px;
}
.doc-toc .btn .glyphicon {
	-webkit-transition: all 0.2s ease-out;
}
a.cw-sorting {
	color: #990000;
}
a.cw-sorting .glyphicon {
	-webkit-transform: rotate(90deg);
}
ul.cw-sortable.cw-sorting li.cw-sorted-feature {
	border: 1px solid #ccc;
	margin: 1em;
}
ul.cw-sortable li a .draggable {
	opacity: 0;
	position: absolute;
	right: 2px;
	left: auto;
	font-size: 16px;
	top: 5px;
	color: #DBDBDB;
}
ul.cw-sortable li a:hover .draggable,
ul.cw-sortable li a:active .draggable {
	-webkit-transition: all 0.2s ease-in;
	opacity: 1.0;
	cursor: hand;
}
.toc-section {
	font-weight: 600;
	font-size: 1.2em;
}
.toc-feature {
	font-size: 1em;
}


/* =============================================================================
   Tags
   ========================================================================== */

.feature-tags li {
	display: inline-block;
	padding-right: 1em;
	margin-right: 2em;
	font-weight: 600;
}
.feature-tags .close {
	float: left;
	padding-right: 5px;
}
.feature-tag  {
	white-space: nowrap;
}
.feature-tag.future-phase {
	color: green;
}
.feature-tag.out-of-scope {
	color: red;
}


/* =============================================================================
   Revisions
   ========================================================================== */
.revisions .header {
	font-weight: bold;
	white-space: nowrap;
}


/* =============================================================================
   Sections and Features
   ========================================================================== */
input[disabled] {
	
}

section {
	padding-top: 2em;
}

.section-title {
	font-family: 'BrandonGrotesqueRegular', Helvetica, sans-serif;
	font-size: 3em;
	margin-bottom: .25em;
	padding: 0.5em;
	display: inline-block;
}

.feature {
	padding-top: 1em;
}
.feature-title {
	display: inline-block;
	padding: 0.5em;
}
.feature .feature-label {
	font-weight: 600;
	font-size: 2em;
	float: left;
	margin-right: 16px;
	color: #ccc;
	background: #fafafa;
	padding: 10px;
	border-radius: 30px;
}
.feature.level_0 {
	margin-top: 1em;
}
.feature.level_0 .feature-title {
	font-size: 1.8em;
	font-family: "ProximaNovaCondSemiBold",Helvetica,Arial,sans-serif;

}
.feature.level_1 .feature-title {
	font-size: 1.5em;
	font-family: "ProximaNovaCondRegular",Helvetica,Arial,sans-serif;
}
.feature.level_2 .feature-title {
	font-size: 1.5em;
	font-style: italic;
}
.feature.level_3 .feature-title {
	font-size: 1.3em;
	font-weight: 400;
}
.feature-content {
	
}
.sub-features {

}


/* =============================================================================
   Flags
   ========================================================================== */

.flag-title {
	font-family: "ProximaNovaCondSemiBold",Helvetica,Arial,sans-serif;
	display: block;
}
.flag-title:after {
	content: ':';
}
.flag-content {
	display: block;
	margin-left: 1em;
}


.slideout {
	opacity: 0.2;
	cursor: hand;
}
.slideout a {
	width: 100%;
	height: 20px;
	display: block;
	color: #999;
}
.slideout:hover {
	opacity: 1.0;
}
.slideout:hover a {
	color: #333;
}

/* =============================================================================
   Dropdown animations
   ========================================================================== */

.input-group-addon.tilter {
	padding: 0;
}

.open > .dropdown-toggle .glyphicon {
	-webkit-transform: rotate(90deg);
}
.dropdown-menu {
	display: block;
	-webkit-transform-origin: top;
	-webkit-transition: all 0.1s ease-out;
	-webkit-transform: scaleY(0);
}
.open > .dropdown-menu {
	-webkit-transform: scaleY(1);
}
.dropdown-menu li {
	text-align: left;
}

.slide {
	overflow-y: hidden;
	-webkit-transition: max-height 0.5s ease-in-out;
}
.slide.up {
	max-height: 0;
}
.slide.down {
	max-height: 100px;
}


/* =============================================================================
   Header
   ========================================================================== */

.doc-header {
	background: #333;
	margin-top: 50px;
	min-height: 55px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10;
}

.doc-header .version-num {
	font-family: 'BrandonGrotesqueRegular', Helvetica, sans-serif;
	font-size: .75em;
	color: #707070;
}

.doc-header .logo {
	font-size: 35px; 
	margin: 3px 10px 10px 10px; 
	color: #707070; 
	position: absolute; 
	top: 8px; 
	left: 20px;
}
.doc-header [cw-editable] {
	border: solid 1px rgba(0, 0, 0, 0);
}



/* =============================================================================
   Bootstrap overrides
   ========================================================================== */
.form-control {
	height: auto;
	min-height: 34px;
}


/* Library */
#doc-library-items {
	overflow-y: scroll;
	width: 100%;
	height: 100%;
}
#doc-library .thumbnail {
	float: left;
	width: 200px;
	height: 200px;
	margin: 5px;
}
#doc-library .file-drop {
	text-align: center;
	padding: 90px 0;
	border: 3px dashed #c0c0c0;
	cursor: move;
}
#doc-library .file-drop.dragover {
	border-color: #c00;
}
#doc-library .file-drop.uploading .glyphicon {
	-webkit-animation: spin 3s linear infinite;
}
#doc-library .file-item {
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-size: cover; 
	border: 3px solid #ccc;
	border-radius: 2px;
}
#doc-library .file-item .file-header {
	margin: 0;
	padding: 0;
	background: white;
	height: 40px;
	opacity: 0.8;
}
#doc-library .file-item .file-header .caption {
	float: left;
}

.image {
	background-size: 100%;
	display: block;
}


/* =============================================================================
   Animations 
   ========================================================================== */
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}


/* =============================================================================
   Bootstrap
   ========================================================================== */
.alert {
	padding: 5px;
	padding-right: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.panel-title {
	display: block;
	width: 100%;
}

/* =============================================================================
   Modals
   ============================================================================= */
#modal-rte {
	z-index: 1041;
}
#doc-library {
	z-index: 1042;
}
#prompt {
	z-index: 1043;
}

