<div class="feature-header input-group" cw-waypoint="setActiveItem(feature)" ng-class="{'stuck': activeGuids[feature.guid]}" id="{{feature.guid}}">
	<div ng-show="!readonly" class="input-group-addon tilter">
		<div class="dropdown">
			<button class="btn btn-link dropdown-toggle" data-toggle="dropdown"><cw-icon type="chevron-right"></cw-icon></button>
			<ul class="dropdown-menu">
				<li><a ng-click="featureBefore(feature)"><cw-icon type="arrow-up"></cw-icon> New Feature Above</a></li>
				<li><a ng-click="insertFeature(feature.features)"><cw-icon type="plus"></cw-icon> New Child Feature</a></li>
				<li><a ng-click="featureAfter(feature)"><cw-icon type="arrow-down"></cw-icon> New Feature Below</a></li>

				<li class="divider">
				<li ng-show="!feature.collapsed"><a ng-click="feature.collapsed = true"><cw-icon type="collapse-up"></cw-icon> Collapse Content</a></li>
				<li ng-show="feature.collapsed"><a ng-click="feature.collapsed = false"><cw-icon type="collapse-down"></cw-icon> Expand Content</a></li>

				<li class="divider"></li>
				<li><a ng-click="feature.newCost()"><cw-icon type="hourglass"></cw-icon> Add Time</a></li>

				<li class="divider"></li>
				<li ng-repeat="ft in flagTypes"><a ng-click="insertFlag(feature.flags, ft.type)"><cw-icon type="flag"></cw-icon> New {{ft.name}}</a></li>

				<li class="divider"></li>
				<li ng-repeat="tag in availableTags" ng-if="!featureHasTag(feature, tag)">
					<a ng-click="addTag(feature, tag)"><cw-icon type="tag"></cw-icon> Mark <strong>{{tag}}</strong></a>
				</li>

				<li class="divider"></li>
				<li modal modal-click="deleteFeature(section, feature)" modal-title="Delete '{{feature.title}}'?" modal-body="Are you sure you want to delete '{{feature.title}}'?"><cw-icon type="trash"></cw-icon> Delete Feature</li>
			</ul>
		</div>
	</div>
	<div class="input-group-addon"><span class="feature-id">{{feature.id}}</span></div>
	<input class="feature-title form-control" ng-disabled="readonly" type="text" ng-model="feature.title" id="{{feature.guid}}-title" />
	<div ng-show="feature.hasCost()" class="input-group-addon"><span class="feature-cost">{{feature.totalCost()}}</span></div>
</div>

<div ng-show="!feature.collapsed" class="feature-cost row">
	<div ng-repeat="(key, value) in feature.cost">
		<div class="col-xs-2 text-right">
			<div class="btn-group btn-group-lg">
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{feature.costKeys[key]}} <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li ng-repeat="(abbr, title) in feature.costKeys"><a ng-click="feature.updateCostKey(key, abbr)">
						<span ng-show="key === abbr"><cw-icon type="check"></cw-icon></span>
						{{title}}
					</a></li>
					<li class="divider"></li>
					<li><a ng-click="feature.removeCost(key)"><cw-icon type="trash"></cw-icon> Remove</a></li>
				</ul>
			</div>
		</div>
		<div class="col-xs-10 btn-group btn-group-lg">
		<button class="btn btn-default" ng-click="feature.cost[key] = 0"   ng-class="{active: value === 0}"  >0</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 1"   ng-class="{active: value === 1}"  >1</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 2"   ng-class="{active: value === 2}"  >2</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 3"   ng-class="{active: value === 3}"  >3</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 5"   ng-class="{active: value === 5}"  >5</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 8"   ng-class="{active: value === 8}"  >8</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 13"  ng-class="{active: value === 13}" >13</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 20"  ng-class="{active: value === 20}" >20</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 40"  ng-class="{active: value === 40}" >40</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 60"  ng-class="{active: value === 60}" >60</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 100" ng-class="{active: value === 100}">100</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 200" ng-class="{active: value === 200}">200</button>
		<button class="btn btn-default" ng-click="feature.cost[key] = 400" ng-class="{active: value === 400}">LPS</button>
	</div>
	</div>
</div>

<div ng-show="!feature.collapsed" class="feature-tags">
	<ul>
		<li ng-repeat="tag in feature.tags | filter:search.string">
			<button ng-click="removeTag(feature, tag)" type="button" class="close">&times;</button>
			<div class="feature-tag {{tag | abbr}}">{{tag}}</div>
		</li>
	</ul>
</div>
<button ng-hide="feature.collapsed || readonly" cw-rte="feature" cw-rte-toggle="#{{feature.guid}}-content" class="btn btn-link"><cw-icon type="edit"></cw-icon> Open in Rich Text Editor</button>

<div ng-hide="feature.collapsed" class="feature-content {{tagAbbrs(feature)}}" id="{{feature.guid}}-content" ng-class="{'no-print':!feature.content.length}" ng-disabled="readonly" cw-editable ng-model="feature.content"></div>

<div ng-hide="feature.collapsed" class="flags" id="{{feature.guid}}-flags" ng-include="'partials/flags.html'" ng-init="flags = feature.flags" />

<div ng-show="feature.collapsed" class="collapsed">
	<div class="well slideout animated">
		<a ng-click="feature.collapsed = false"><cw-icon type="collapse-down"></cw-icon> Expand Content</a>
	</div>
</div>

<!-- "{{feature.title}}" Child Features -->
<div ng-hide="feature.collapsed">
	<div class="feature level_{{$level}}" ng-repeat="feature in feature.features | filter:search.string" ng-include="'partials/feature.html'" ng-init="$level = $level + 1;"></div>
</div>
<!-- /"{{feature.title}}" Child Features -->
