<div class="dropdown pull-left">
	<a class="btn dropdown-toggle" data-toggle="dropdown"><cw-icon type="chevron-right"></cw-icon></a>
	<ul class="dropdown-menu">
		<li><a ng-click="insertFeature(feature.features)"><cw-icon type="plus"></cw-icon> New Child Feature</a></li>

		<li class="divider"></li>
		<li ng-repeat="ft in flagTypes"><a ng-click="insertFlag(feature.flags, ft.type)"><cw-icon type="flag"></cw-icon> New {{ft.name}}</a></li>

		<li class="divider"></li>
		<li ng-repeat="tag in availableTags" ng-hide="featureHasTag(feature, tag)">
			<a ng-click="addTag(feature, tag)"><cw-icon type="tag"></cw-icon> Mark <strong>{{tag}}</strong></a>
		</li>

		<li class="divider"></li>
		<li><a exec="strikeThrough" exec-target="#{{feature.guid}}"><cw-icon type="remove"></cw-icon> Strike Feature</a></li>
		<li modal modal-click="deleteFeature(section, feature)" modal-title="Delete '{{feature.title}}'?" modal-body="Are you sure you want to delete '{{feature.title}}'?"><cw-icon type="trash"></cw-icon> Delete Feature</li>
	</ul>
</div>
<div class="feature-title cw-counted-item" cw-editable ng-model="feature.title" id="{{feature.guid}}"></div>
<div class="feature-tags">
	<ul>
		<li ng-repeat="tag in feature.tags">
			<button ng-click="removeTag(feature, tag)" type="button" class="close">&times;</button>
			<div class="feature-tag {{tag | abbr}}">{{tag}}</div>
		</li>
	</ul>
</div>
<div class="feature-content" id="{{feature.guid}}-content" text-angular ng-model="feature.content"></div>
<div class="flags" id="{{feature.guid}}-flags" ng-include="'partials/flags.html'" ng-init="flags = feature.flags" />

<!-- "{{feature.title}}" Child Features -->
<div class="cw-counted">
	<div class="feature level_{{$level}}" ng-repeat="feature in feature.features" ng-include="'partials/feature.html'" ng-init="$level = $level + 1;"></div>
</div>
<!-- /"{{feature.title}}" Child Features -->
