<div class="modal" id="help-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Help!</h4>
			</div>
			<div class="modal-body">
				<p class="well">Welcome to Clockdocs, your friendly structured document editor.</p>
				<h2>Hotkeys</h2>
				<dl>
					<dt>Ctrl+N</dt>
					<dd>Create a new document</dd>

					<dt>Ctrl+O</dt>
					<dd>Open a document</dd>

					<dt>Ctrl+S</dt>
					<dd>Saves the current document</dd>

					<dt>Ctrl+P</dt>
					<dd>Print the current document</dd>

					<dt>Ctrl+E</dt>
					<dd>Export the current document to Word</dd>
				</dl>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Okay</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
