<div class="modal" id="doc-library">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Select an Image</h4>
			</div>
			<div class="modal-body">
				<div class="doc-library-items">
					<div class="file-drop thumbnail" cw-file-drop="addFile(file)" cw-dragover-class="dragover" cw-uploading-class="uploading">
						<cw-icon type="picture"></cw-icon> Add an Image
					</div>
					<div class="thumbnail" ng-repeat="file in rd.files">
						<div class="file-item {{file.id}}">
							<div class="file-header">
								<a ng-click="removeFile(file.id)" class="close">&times;</a>
								<a class="caption" data-file-id="{{file.id}}" data-file-data="{{file.data}}" data-dismiss="modal" title="{{file.name}}">{{file.name | truncate:25}}</a>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.doc-library -->
