<div ng-controller="NavCtrl"
<nav class="navbar navbar-default navbar-fixed-top">
	<cw-hotkey key="N" ctrl="true" action="create()"></cw-hotkey>
	<cw-hotkey key="N" meta="true" action="create()"></cw-hotkey>

	<cw-hotkey key="O" ctrl="true" action="open()"></cw-hotkey>
	<cw-hotkey key="O" meta="true" action="open()"></cw-hotkey>

	<cw-hotkey key="S" ctrl="true" action="save()"></cw-hotkey>
	<cw-hotkey key="S" meta="true" action="save()"></cw-hotkey>

	<cw-hotkey key="P" ctrl="true" action="print()"></cw-hotkey>
	<cw-hotkey key="P" meta="true" action="print()"></cw-hotkey>

	<cw-hotkey key="E" ctrl="true" action="export('word')"></cw-hotkey>
	<cw-hotkey key="E" meta="true" action="export('word')"></cw-hotkey>

	<div class="container-fluid">
		<div class="navbar-header">
			<span class="navbar-brand">Clockdocs
				<i ng-show="working" class="fa fa-spinner fa-spin"></i>
				<i ng-hide="working" class="fa fa-book"></i>
			</span>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div> <!-- /.navbar-header -->
		<div class="collapse navbar-collapse" id="nav-main">
			<ul class="nav navbar-nav">
				<li><a ng-click="create()"><cw-icon type="plus-sign"></cw-icon> New</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown"><cw-icon type="open"></cw-icon> Open<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a ng-click="open()"><cw-icon type="open"></cw-icon> Open File</a></li>
						<li ng-hide="svnInstalled"><a data-toggle="modal" data-target="#svn-form-install"><cw-icon type="folder-close"></cw-icon> Install SVN Support</a></li>
						<li ng-show="svnInstalled"><a data-toggle="modal" data-target="#svn-form"><cw-icon type="cloud-download"></cw-icon> Open from SVN</a></li>
						<li ng-show="files.recent" class="divider"></li>
						<li ng-show="files.recent" class="dropdown-header">Recent Files</li>
						<li ng-show="files.recent" ng-repeat="rf in files.recent track by $index">
							<a ng-click="open(rf.file)" title="{{rf.path}}">
								<cw-icon type="file"></cw-icon> {{rf.title || rf.name}}
								<em ng-show="rf.file && rf.file.remote">(SVN checkout)</em>
							</a>
						</li>
					</ul>
				</li>
				<li ng-show="files.current && files.current.remote && files.current.entry"><a data-toggle="modal" data-target="#svn-update"><cw-icon type="cloud-upload"></cw-icon> Update</a></li>
				<li class="dropdown" ng-show="rd">
					<a class="dropdown-toggle" data-toggle="dropdown"><cw-icon ng-hide="rdChanged" type="floppy-disk"></cw-icon><cw-icon ng-show="rdChanged" type="floppy-save"></cw-icon> Save<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-show="files.current.entry.name"><a ng-click="save()"><cw-icon type="save"></cw-icon> Save to <em>{{files.current.entry.name}}</em></a></li>
						<li ng-show="rd"><a ng-click="saveAs()"><cw-icon type="export"></cw-icon> Save As ...</a></li>
						<li ng-show="rd" class="divider"></li>
						<li ng-show="rd" class="dropdown-header">Export</li>
						<li ng-show="files.current && files.current.remote && files.current.entry"><a data-toggle="modal" data-target="#svn-form-commit"><cw-icon type="cloud-upload"></cw-icon> Commit to SVN</a></li>
						<li ng-show="rd"><a ng-click="export('word')"><cw-icon type="file"></cw-icon> Export As Word Document</a></li>
					</ul>
				</li>
				<li ng-show="rd"><a ng-click="print()"><cw-icon type="print"></cw-icon> Print</a></li>
				<li><a data-toggle="modal" data-target="#help-modal"><cw-icon type="book"></cw-icon> Help</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="alert.content">
					<div class="alert alert-{{alert.type}} alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>	
						<strong>{{alert.title}}</strong> {{alert.content}}
					</div>
				</li>
				<li ng-show="rd" class="btn-group">
					<a class="btn btn-link" ng-class="{active: readonly}" title="Switch to Read-Only Mode" ng-click="setReadonly(true)"><cw-icon type="lock"></cw-icon></a>
					<a class="btn btn-link" ng-class="{active: !readonly}" title="Switch to Edit Mode" ng-click="setReadonly(false)"><cw-icon type="edit"></cw-icon></a>
				</li>
			</ul>
		</div> <!-- /.navbar-collapse -->
	</div> <!-- /.container-fluid -->
</nav>
</div> <!-- /#NavCtrl -->
