<script type="text/ng-template" id="partials/preferences.html">
<div ng-controller="PreferencesCtrl">

<div class="modal" id="preferences-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><cw-icon type="cog"></cw-icon> Clockdoc Preferences</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="panel">
						<div class="panel-heading">Document Preferences</div>
						<div class="panel-body">
							<div class="form-group">
								<cw-toggle class="btn-group" cw-model="preferences" cw-prop="hideBreadcrumbs"></cw-toggle>
								<label for="hideBreadcrumbs" class="control-label">
									Hide breadcrumbs
								</label>
							</div>
							<div class="form-group">
								<cw-toggle class="btn-group" cw-model="preferences" cw-prop="useSvn"></cw-toggle>
								<label for="useSvn" class="control-label">
									Use SVN
								</label>
							</div>
							<div class="form-group">
								<cw-toggle class="btn-group" cw-model="preferences" cw-prop="readonly"></cw-toggle>
								<label for="readonly" class="control-label">
									Open as read-only
								</label>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">Access Tokens</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-3">
									<input ng-model="endpoint.title" placeholder="Title" class="form-control">
								</div>
								<div class="col-xs-5">
									<input ng-model="endpoint.setUrl" placeholder="Set URL" class="form-control"><br>
									<input ng-model="endpoint.getUrl" placeholder="Get URL" class="form-control">
								</div>
								<div class="col-xs-3">
									<input ng-model="endpoint.token" placeholder="Access Token" class="form-control">
								</div>
								<div class="col-xs-1">
									<button class="btn btn-primary" ng-click="addEndpoint()"><cw-icon type="plus"></cw-icon></button>
								</div>
							</div>
							<hr>
							<div class="row" ng-repeat="endpoint in preferences.endpoints track by endpoint.getUrl">
								<div class="col-xs-3">
									<input ng-model="endpoint.title" placeholder="Title" class="form-control">
								</div>
								<div class="col-xs-5">
									<input ng-model="endpoint.setUrl" placeholder="Set URL" class="form-control"><br>
									<input ng-model="endpoint.getUrl" placeholder="Get URL" class="form-control">
								</div>
								<div class="col-xs-3">
									<input ng-model="endpoint.token" placeholder="Access Token" class="form-control">
								</div>
								<div class="col-xs-1">
									<button class="btn btn-danger" ng-click="removeEndpoint($index)"><cw-icon type="remove"></cw-icon></button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-action" data-dismiss="modal" ng-click="save()"><cw-icon type="ok"></cw-icon> Save Changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div> <!-- /#SvnCtrl -->
</script>
