<div ng-controller="PreferencesCtrl">

<div class="modal" id="preferences-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title"><cw-icon type="cog"></cw-icon> Clockdoc Preferences</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="useSvn" class="col-sm-8 control-label">Use SVN</label>
						<div class="col-sm-4">
							<cw-toggle class="btn-group" cw-model="preferences" cw-prop="useSvn"></cw-toggle>
						</div>
					</div>
					<div class="form-group">
						<label for="readonly" class="col-sm-8 control-label">Open as read-only</label>
						<div class="col-sm-4">
							<cw-toggle class="btn-group" cw-model="preferences" cw-prop="readonly"></cw-toggle>
						</div>
						<span class="help-block">If enabled, a document will be set as read-only when first opened.</span>
					</div>
					<div class="panel">
						<div class="panel-heading">Publication</div>
						<div class="panel-body">
							<div class="form-inline">
								<div class="form-group">
									<input ng-model="endpoint.title" placeholder="Title" class="form-control">
									<input ng-model="endpoint.url" placeholder="URL" class="form-control">
									<input ng-model="endpoint.token" placeholder="Access Token" class="form-control">
									<button class="btn btn-primary" ng-click="addEndpoint()"><cw-icon type="plus"></cw-icon></button>
								</div>
							</div>
							<div class="form-inline" ng-repeat="endpoint in preferences.endpoints track by endpoint.url">
								<div class="form-group">
									<input ng-model="endpoint.title" placeholder="Title" class="form-control">
									<input ng-model="endpoint.url" placeholder="URL" class="form-control">
									<input ng-model="endpoint.token" placeholder="Access Token" class="form-control">
									<button class="btn btn-danger" ng-click="removeEndpoint($index)"><cw-icon type="remove"></cw-icon></button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-action" data-dismiss="modal" ng-click="save()"><cw-icon type="ok"></cw-icon> Save Changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div> <!-- /#SvnCtrl -->
