<div class="controller" ng-controller="RdCtrl" ng-keyup="keyup($event)" ng-class="{working: working}">

	<div ng-controller="NavCtrl" ng-include="'partials/nav.html'"></div>

	<cw-hotkey key="F" ctrl="true" action="search.on = !search.on"></cw-hotkey>
	<cw-hotkey key="F" meta="true" action="search.on = !search.on"></cw-hotkey>

	<header class="doc-header header-alt" ng-if="doc.root">
		<div class="row">
			<div class="col-xs-8">
				<div aria-hidden="true" class="cw_icon-cw_big logo"></div>
				<h1><span class="version-num">v.{{getRevision()}}</span> <input ng-disabled="readonly" ng-model="doc.root.title" type="text" /></h1>
			</div>
			<div class="col-xs-3">
				<div class="form-inline pull-right slide" ng-class="{'down': search.on || search.string, 'up': !search.on && !search.string}">
					<div class="input-group">
						<input ng-model="search.pending" class="form-control" id="search.pending" placeholder="Find" />
						<div class="input-group-btn">
							<button ng-if="search.pending && search.string != search.pending" ng-click="search.string = search.pending" class="btn btn-default"><cw-icon type="zoom-in"></cw-icon></button>
							<button ng-if="search.string" ng-click="search.string = ''; search.pending = '';" class="btn"><cw-icon type="remove"></cw-icon></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="row doc-breadcrumb" ng-if="!preferences.hideBreadcrumbs">
		<div class="col-md-12" ng-include="'partials/breadcrumbs.html'"></div>
	</div>


	<div class="row doc-container" ng-if="doc.root">
		<div class="col-md-3 doc-toc">
			<div class="box-emp">
				<h2>Table of Contents <a class="btn" ng-hide="readonly" ng-class="{'cw-sorting': sorting}" ng-click="sorting = !sorting"><span class="glyphicon glyphicon-refresh"></span></a></h2>
				<ul class="nav toc cw-sortable" ng-class="{'cw-sorting': sorting}" cw-sort-on-updated="moveItem(parentGuid, guid, index)" cw-sort-nested="true" cw-sort-tolerance-element="> a">
					<li class="cw-sorted cw-sorted-section" ng-repeat="section in doc.root.sections" data-guid="{{section.guid}}">
						<a class="toc-section" cw-scroller="section.guid" cw-scroller-disabled="sorting"><cw-icon type="move" class="draggable"></cw-icon> {{section.title}}</a>
						<ol class="nav nav-stacked cw-counted">
							<li class="cw-sorted cw-sorted-feature" ng-repeat="feature in section.features" ng-include="'partials/toc.html'" data-guid="{{feature.guid}}" ng-init="$label = ($index + 1) + '.'"></li>
						</ol>
					</li>
				</ul>
			</div> <!-- /.box-emp -->
		</div> <!-- /.doc-toc -->
		<div class="col-md-8 doc-content">
			<table class="table revisions" ng-hide="search.string">
				<tr>
					<td class="header">Client:</td>
					<td width="50%" ng-model="doc.root.client" cw-editable="plaintext"></td>
					<td class="header">Project Mgr:</td>
					<td width="50%" ng-model="doc.root.pm" cw-editable="plaintext"></td>
				</tr>
				<tr>
					<td class="header">Project:</td>
					<td ng-model="doc.root.project" cw-editable="plaintext"></td>
					<td colspan="2"></td>
				</tr>
			</table>
			<table class="table table-striped revisions" ng-hide="search.string">
				<thead>
					<th ng-hide="readonly"></th>
					<th width="10%">Revision</th>
					<th width="20%">Date</th>
					<th width="60%">Notes</th>
					<th width="10%">Author</th>
				</thead>
				<tbody>
					<tr ng-repeat="rev in doc.root.revisions track by $index">
						<td ng-hide="readonly" style="vertical-align: middle"><a ng-click="removeRevision($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
						<td ng-model="rev.revision" cw-editable="plaintext"></td>
						<td ng-model="rev.date" cw-editable="plaintext"></td>
						<td ng-model="rev.notes" cw-editable="plaintext"></td>
						<td ng-model="rev.author" cw-editable="plaintext"></td>
					</tr>
				</tbody>
				<tfoot ng-hide="readonly">
					<td colspan="100%">
						<a class="btn btn-link" ng-click="addRevision()"><cw-icon type="plus"></cw-icon> New Revision</a> 
					</td>
				</tfoot>
			</table>

			<section ng-repeat="section in doc.root.sections | filter:search.string" cw-waypoint="setActiveItem(section)" id="{{section.guid}}">
				<div ng-class="{'input-group': !readonly}">
					<div ng-hide="readonly" class="input-group-addon">
						<button class="btn btn-link dropdown-toggle" data-toggle="dropdown"><cw-icon type="chevron-right"></cw-icon></button>
						<ul class="dropdown-menu">
							<li><a ng-click="insertFeature(section.features)"><cw-icon type="plus"></cw-icon> New Feature</a></li>

							<li class="divider">
							<li ng-show="!section.collapsed"><a ng-click="section.collapsed = true"><cw-icon type="collapse-up"></cw-icon> Collapse Section</a></li>
							<li ng-show="section.collapsed"><a ng-click="section.collapsed = false"><cw-icon type="collapse-down"></cw-icon> Expand Section</a></li>

							<li class="divider"></li>
							<li ng-repeat="ft in flagTypes | filter:search.string"><a ng-click="insertFlag(section.flags, ft.type)"><cw-icon type="flag"></cw-icon> New {{ft.name}}</a></li>
							<li class="divider"></li>
							<li><a ng-click="insertSection($index)"><cw-icon type="arrow-up"></cw-icon> New Section Above</a></li>
							<li><a ng-click="insertSection($index + 1)"><cw-icon type="arrow-down"></cw-icon> New Section Below</a></li>
							<li class="divider"></li>
							<li modal modal-click="deleteSection($index)" modal-title="Delete '{{section.title}}'?" modal-body="Are you sure you want to delete '{{section.title}}'?"><cw-icon type="trash"></cw-icon> Delete Section</li>
						</ul>
					</div>
					<input class="section-title form-control" type="text" id="{{section.guid}}-section" ng-disabled="readonly" ng-model="section.title" />
				</div>
				<button ng-hide="section.collapsed || readonly" cw-rte="section" cw-rte-toggle="#{{section.guid}}-content" class="btn btn-link"><cw-icon type="edit"></cw-icon> Open in Rich Text Editor</button>
				<div ng-hide="section.collapsed || (readonly && !section.content.length)" class="section-content" id="{{section.guid}}-content" cw-editable ng-class="{'no-print':!feature.content.length}" ng-model="section.content"></div>
				<div ng-hide="section.collapsed" class="flags" ng-include="'partials/flags.html'" ng-init="flags = section.flags" />
				<div ng-hide="section.collapsed" class="features cw-counted">
					<div class="feature level_0" ng-repeat="feature in section.features | filter:search.string" ng-include="'partials/feature.html'" ng-init="$level = 0"></div>
				</div>

				<div ng-show="section.collapsed" class="collapsed">
					<div class="well slideout animated">
						<a ng-click="section.collapsed = false"><cw-icon type="collapse-down"></cw-icon> Expand Section</a>
					</div>
				</div>

				<hr />
			</section>
			<div ng-hide="readonly" class="well slideout animated">
				<a ng-click="insertSection(doc.root.sections.length)"><cw-icon type="th-large"></cw-icon> New Section</a>
			</div>
		</div> <!-- /.doc-content -->
		<div class="col-md-1 doc-gutter"></div>
	</div>
	<div id="svn" class="svn" ng-include="'partials/svn.html'"></div>
	<div id="preferences" class="preferences" ng-include="'partials/preferences.html'"></div>
	<div id="help" ng-include="'partials/help.html'"></div>
	<div ng-include="'partials/speed-bump.html'"></div>
	<div ng-include="'partials/library.html'"></div>
	<div ng-include="'partials/rte.html'"></div>
</div>
