<div class="controller" ng-controller="RdCtrl" ng-keyup="keyup($event)">

	<cw-hotkey key="N" ctrl="true" action="create()" />
	<cw-hotkey key="N" meta="true" action="create()" />

	<cw-hotkey key="O" ctrl="true" action="open()" />
	<cw-hotkey key="O" meta="true" action="open()" />

	<cw-hotkey key="S" ctrl="true" action="save()" />
	<cw-hotkey key="S" meta="true" action="save()" />

	<cw-hotkey key="P" ctrl="true" action="print()" />
	<cw-hotkey key="P" meta="true" action="print()" />

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-right">
				<div ng-if="alert.content">
					<div class="alert alert-{{alert.type}} alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>	
						<strong>{{alert.title}}</strong> {{alert.content}}
					</div>
				</div>
			</div> <!-- /.navbar-right -->
			<div class="navbar-header">
				<span class="navbar-brand">Clockdocs
					<i ng-show="working" class="fa fa-spinner fa-spin"></i>
					<i ng-hide="working" class="fa fa-book"></i>
				</span>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div> <!-- /.navbar-header -->
			<div class="collapse navbar-collapse" id="nav-main">
				<ul class="nav navbar-nav">
					<li><a ng-click="create()"><cw-icon type="plus-sign"></cw-icon> New</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown"><cw-icon type="open"></cw-icon> Open<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a ng-click="open()"><cw-icon type="open"></cw-icon> Open File</a></li>
							<li ng-hide="svnInstalled"><a data-toggle="modal" data-target="#svn-form-install"><cw-icon type="folder-close"></cw-icon> Install SVN Support</a></li>
							<li ng-show="svnInstalled"><a data-toggle="modal" data-target="#svn-form"><cw-icon type="cloud-download"></cw-icon> Open from SVN</a></li>
							<li ng-show="recentEntries" class="divider"></li>
							<li ng-show="recentEntries" class="dropdown-header">Recent Files</li>
							<li ng-repeat="re in recentEntries track by $index">
								<a ng-click="open(re.entryId)"><cw-icon type="file"></cw-icon> {{re.name}}</a>
							</li>
						</ul>
					</li>
					<li class="dropdown" ng-show="rd">
						<a class="dropdown-toggle" data-toggle="dropdown"><cw-icon type="floppy-disk"></cw-icon> Save<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li ng-show="result.entry.name"><a ng-click="save()"><cw-icon type="save"></cw-icon> Save to <em>{{result.entry.name}}</em></a></li>
							<li ng-show="rd"><a ng-click="saveAs()"><cw-icon type="export"></cw-icon> Save As ...</a></li>
							<li ng-show="rd"><a ng-click="export('word')"><cw-icon type="file"></cw-icon> Export Word Document</a></li>
							<li ng-show="result.svn.Revision"><a data-toggle="modal" data-target="#svn-form-commit"><cw-icon type="cloud-upload"></cw-icon> Commit to SVN</a></li>
						</ul>
					</li>
					<li ng-show="rd"><a ng-click="print()"><cw-icon type="print"></cw-icon> Print</a></li>
				</ul>
			</div> <!-- /.navbar-collapse -->
		</div> <!-- /.container-fluid -->
	</nav>

	<header class="row doc-header header-alt" ng-show="rd">
		<div aria-hidden="true" class="cw_icon-cw_big logo"></div>
		<h1><span ng-model="rd.title" cw-editable>{{rd.title}}</span> <span class="version-num">v.{{getRevision()}}</h1>
	</header>


	<div class="row doc-container" ng-show="rd">
		<div class="col-md-3 doc-toc">
			<div class="box-emp">
				<h2>Table of Contents <span class="glyphicon glyphicon-random" ng-show="sorting"></span></h2>
				<ul class="nav toc cw-sortable" ng-class="{'cw-sorting': sorting}" cw-sort-on-started="sortStart()" cw-sort-on-stopped="sortStop()" cw-sort-on-updated="moveItem(parentGuid, guid, index)" cw-sort-nested="true" cw-sort-tolerance-element="> a">
					<li class="cw-sorted cw-sorted-section" ng-repeat="section in rd.sections" data-guid="{{section.guid}}">
						<a class="toc-section" cw-scroller="section.guid"><cw-icon type="move" class="draggable"></cw-icon> {{section.title}}</a>
						<ol class="nav nav-stacked cw-counted">
							<li class="cw-sorted cw-sorted-feature" ng-repeat="feature in section.features" ng-include="'partials/toc.html'" data-guid="{{feature.guid}}" ng-init="$label = ($index + 1) + '.'"></li>
						</ol>
					</li>
				</ul>
			</div> <!-- /.box-emp -->
		</div> <!-- /.doc-toc -->
		<div class="col-md-8 doc-content">
			<table class="table table-striped">
				<thead>
					<th></th>
					<th width="10%">Revision</th>
					<th width="20%">Date</th>
					<th width="60%">Notes</th>
					<th width="10%">Author</th>
				</thead>
				<tbody>
					<tr ng-repeat="rev in rd.revisions track by $index">
						<td style="vertical-align: middle"><a ng-click="removeRevision($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
						<td ng-model="rev.revision" cw-editable></td>
						<td ng-model="rev.date" cw-editable /></td>
						<td ng-model="rev.notes" cw-editable /></td>
						<td ng-model="rev.author" cw-editable /></td>
					</tr>
				</tbody>
				<tfoot>
					<td colspan="100%">
						<a class="btn btn-link" ng-click="addRevision()"><cw-icon type="plus"></cw-icon> New Revision</a> 
					</td>
				</tfoot>
			</table>

			<section ng-repeat="section in rd.sections">
				<div class="dropdown pull-left">
					<a class="btn dropdown-toggle" data-toggle="dropdown"><cw-icon type="chevron-right"></cw-icon></a>
					<ul class="dropdown-menu">
						<li><a ng-click="insertFeature(section.features)"><cw-icon type="plus"></cw-icon> New Feature</a></li>
						<li class="divider"></li>
						<li ng-repeat="ft in flagTypes"><a ng-click="insertFlag(section.flags, ft.type)"><cw-icon type="flag"></cw-icon> New {{ft.name}}</a></li>
						<li class="divider"></li>
						<li><a ng-click="insertSection($index)"><cw-icon type="arrow-up"></cw-icon> New Section Above</a></li>
						<li><a ng-click="insertSection($index + 1)"><cw-icon type="arrow-down"></cw-icon> New Section Below</a></li>
						<li class="divider"></li>
						<li modal modal-click="deleteSection($index)" modal-title="Delete '{{section.title}}'?" modal-body="Are you sure you want to delete '{{section.title}}'?"><cw-icon type="trash"></cw-icon> Delete Section</li>
					</ul>
				</div>
				<div class="section-title" cw-editable id="{{section.guid}}" ng-model="section.title"></div>
				<div class="section-content" text-angular ng-class="{'no-print':!feature.content.length}" ng-model="section.content"></div>
				<div class="flags" ng-include="'partials/flags.html'" ng-init="flags = section.flags" />
				<div class="features cw-counted">
					<div class="feature level_0" ng-repeat="feature in section.features" ng-include="'partials/feature.html'" ng-init="$level = 0"></div>
				</div>
				<hr />
			</section>
			<div class="well slideout animated">
				<a ng-click="insertSection(rd.sections.length)"><cw-icon type="th-large"></cw-icon> New Section</a>
			</div>
		</div> <!-- /.doc-content -->
		<div class="col-md-1 doc-gutter"></div>
	</div>
	<div id="svn" class="svn" ng-include="'partials/svn.html'"></div>
	<div ng-include="'partials/library.html'"></div>
</div>
