<div class="modal" id="speedBump">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Unsaved Changes</h4>
			</div>
			<div class="modal-body">
				Your document has unsaved changes. What would you like to do?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Stop! Let me go back to the document.</button>
				<button type="button" class="btn btn-danger btn-action" ng-click="nextAction()" data-dismiss="modal">Discard my changes and continue</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
