html {
	overflow-y: auto;
}
body {
	padding-bottom: 400px;
}
.animated {
	-webkit-transition: all 0.2s ease-in;
}

/* Editors */
[contenteditable] {
	margin: 1px;
	padding: 0;
	border: solid 1px #fff;
}
[contenteditable]:hover {
	border: dashed 1px #ccc;
}
[contenteditable]:focus {
	border: solid 1px #00c;
}
.ta-toolbar {
	display: none;
}
.ta-toolbar.focussed {
	display: block;
}


.doc-container {
	margin-top: 4em; /* Make room for the nav */
}

.counted {
	counter-reset: item;
}
.counted-item:before {
	content: counters(item, '.'); 
	counter-increment: item;
	color: rgb(201, 197, 197);
	padding: 5px;
	margin-right: 1em;
	font-size: 0.8em;
}


/* Table of Contents */
.nav-fixed {
	position: fixed;
	overflow-y: scroll;
	height: 100%;
}
.doc-toc {
	margin-left: 0.5em;
}
.doc-toc .nav > li > a {
	padding: 5px 10px;
}
.toc ul {
	margin: 0;
	padding: 0;
}
.toc li {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.sortable li a .draggable {
	opacity: 0.2;
}
ul.sortable li a:hover .draggable,
ul.sortable li a:active .draggable {
	-webkit-transition: all 0.2s ease-in;
	opacity: 1.0;
}
.toc-section {
	font-weight: 600;
	font-size: 1.2em;
}
.toc-feature {
	font-size: 1em;
	margin-left: 0.5em;
}


/* Tags */
.feature-tags li {
	display: inline-block;
	padding-right: 1em;
	margin-right: 2em;
	font-weight: 600;
}
.feature-tags .close {
	float: left;
	padding-right: 5px;
}
.feature-tag  {
	white-space: nowrap;
}
.feature-tag.future-phase {
	color: green;
}
.feature-tag.out-of-scope {
	color: red;
}


/* Sections and Features */
.doc-body {

}
section {
	padding-top: 2em;
}
.section-title {
	font-size: 3em;
}
.features {

}
.feature {
	padding-top: 1em;
	padding-left: 1em;
}
.feature .feature-label {
	font-weight: 600;
	font-size: 2em;
	float: left;
	margin-right: 16px;
	color: #ccc;
	background: #fafafa;
	padding: 10px;
	border-radius: 30px;
}
.feature.level_0 {
	margin-top: 2em;
}
.feature.level_0 .feature-title {
	font-size: 2em;
	font-weight: 600;
}
.feature.level_1 .feature-title {
	font-size: 1.8em;
	font-style: italic;
}
.feature.level_2 .feature-title {
	font-size: 1.5em;
	font-weight: 500;
}
.feature.level_3 .feature-title {
	font-size: 1.3em;
	font-weight: 400;
}
.feature-content {
	
}
.sub-features {

}


/* Flags */
.flag-title {
	font-weight: 600;
	display: block;
	text-align: right;
}
.flag-title:after {
	content: ':';
}
.flag-content {
	display: block;
	margin-left: 1em;
}


.slideout {
	opacity: 0.2;
	cursor: hand;
}
.slideout a {
	width: 100%;
	height: 20px;
	display: block;
	color: #999;
}
.slideout:hover {
	opacity: 1.0;
}
.slideout:hover a {
	color: #333;
}

/* Dropdown animations */
.open > .dropdown-toggle .glyphicon {
	-webkit-transform: rotate(90deg);
}
.dropdown-menu {
	display: block;
	-webkit-transform-origin: top;
	-webkit-transition: all 0.2s ease-out;
	-webkit-transform: scaleY(0);
}
.open > .dropdown-menu {
	-webkit-transform: scaleY(1);
}
